*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* header code start */
header{
    background-color: rgba(254, 215, 186, 1);
    position: sticky;
    top: 0px;
    z-index: 400;
    box-shadow: 0px 0px 5px rgb(245, 238, 238);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.brand-logo img{
    height: auto;
    width: 200px;
}
.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icons i{
    margin-right: 15px;
    font-size: 18px;
}
.user-icon{
    height: 35px;
    width: 35px;
    background-color: rgba(139, 0, 0, 1);
    color: white;
    border-radius: 35px;
    display: inline-block;
    display: flex;justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
}
.user-icon a{
    text-decoration: none;
    color: unset;
}


/* header code end  */


/* section code start */
section{
    background-color: rgba(254, 215, 186, 1);
    font-family: "Poppins", sans-serif;
}
.row{
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 20px;
}
.col-1{
    height: 900px;
    padding: 20px;
    background-color: white;
}
.col-2{
    height: 900px;
    background-color: white;
    overflow-x: auto;
    padding: 20px;
}
.col-1 h1{
    margin-bottom: 20px;
    color: rgba(139, 0, 0, 1);
}
.col-1 h3{
    line-height: 40px;
    font-weight: normal;
}
.col-1 i{
    margin-left: 30px;
}
.col-1 .active{
    color: rgba(139, 0, 0, 1);
}
.col-2 .about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210, 127, 127, 0.5);
    height: 70px;
    font-weight: 500;
    font-size:25px ;
}
.col-2 .heading{
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 30px;
}
.col-2 .about-content{
    padding: 0px 20px;
}
.col-2 p{
    font-size: 18px;
    margin-bottom: 10px;
}

/* footer code start */

footer{
    background-color: rgba(254, 215, 186, 1);
    font-family: "Nunito Sans", sans-serif;
}
.footer{
    background-color: rgba(217, 217, 217, 1);
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    padding: 40px 15px 25px 25px;
}
.footer-title{
    color: rgba(139, 0, 0, 1);
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-title~div{
    margin-bottom: 8px;
}
.fa-phone,.fa-message,.fa-rocketchat{
    margin-right: 20px;
}
.copyright{
    height: 80px;
    color: rgba(139, 0, 0, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footer-icons{
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    padding: 15px 5px;
}
.footer-icons span{
    color: rgba(139, 0, 0, 1);
    font-weight: bold;

}
.footer-icons i{
    margin-left: 15px;
    font-size: 20px;
}
.footer-icons a{
    text-decoration: none;
    color: #000;
}