*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* header code start */
header{
    background-color: rgba(254, 215, 186, 1);
    position: sticky;
    top: 0px;
    z-index: 400;
    box-shadow: 0px 0px 5px rgb(245, 238, 238);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.brand-logo img{
    height: auto;
    width: 200px;
}
.nav-icons{
    display: flex;
    justify-content: space-between;align-items: center;
}
.nav-icons i{
    margin-right: 15px;
    font-size: 18px;
}
.nav-icons a{
    color: black;
    text-decoration: none;
}
.signin-link{
    height: 25px;
    width: 70px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(218, 96, 96);
    font-size: 15px;
    box-shadow: 1px 1px 4px #000;
}

@media screen and (max-width:600px){
    header{
        background-color: rgb(0, 0, 0);
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
}
/* header code end  */

/* section code start */

.main-box{
    height: 100vh;
    overflow: hidden;
    padding: 0px 10px;
    background-color: rgba(254, 215, 186, 1);
}
.main-box .col-1{
    float: left;
    width: 55%;
    height: 100vh;
    overflow: hidden;
    overflow: hidden;
}
.main-box .col-2{
    float: left;
    width: 45%;
    height: 100vh;
    overflow: hidden;
}
.main-box .col-1 img{
    height: 100%;
    width: 100%;
}

.main-box .col-2 .img-1{
    height: 50%;
    width: 98%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.main-box .col-2 .img-2{
    height: 50%;
    width: 98%;
    margin-left: 10px;
}

/* category-box code start */

.category-box{
    background-color: rgba(254, 215, 186, 1);
    height: auto;
    text-align: center;
}
.category-box h2,p{
    font-family: "Nunito Sans", sans-serif;
}
.category-box h2{
    padding-top: 30px;
    font-size: 35px;
    color: rgba(139, 0, 0, 1);
}
.category-box p{
    color: rgba(113, 108, 108, 1);
    margin-top: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category-box h4{
    font-weight: 500;
}
.crystal-carat-box{
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.crystal-carat-box a{
    text-decoration: none;
    color: black;
}
.Crystals span{
    font-size: 25px;
    margin-top: 25px;
    display: inline-block;
    margin-bottom: 10px;
}
.Crystals-div{
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}
.Crystals-div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Carats span{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: inline-block;
}
.Carats-div{
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}
.Carats-div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Best-seller code start */

.Best-Sellers{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgba(254, 215, 186, 1);
    text-align: center;
}
.Best-Sellers h2{
    padding-top: 30px;
    font-size: 35px;
    color: rgba(139, 0, 0, 1);
}
.Best-Sellers p{
    color: rgba(113, 108, 108, 1);
    margin-top: 5px;
    margin-bottom: 10px;
}
.lineimg{
    margin-bottom: 25px;
    margin-top: 10px;
    width: 95%;
}
.product-cards .first-row,.second-row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.product-cards a{
    color: #000;
    text-decoration: none;
}
/* bridal-div code start */

.bridal-div{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgba(254, 215, 186, 1);
    text-align: center;
}
.bridal-div h2{
    padding-top: 30px;
    font-size: 35px;
    color: rgba(139, 0, 0, 1);
}
.bridal-div p{
    color: rgba(113, 108, 108, 1);
    margin-top: 5px;
    margin-bottom: 10px;
}
.bridal-div .lineimg{
    margin-bottom: 300px;
}
.gray-div{
    height: 300px;
    background-color: rgba(204, 198, 198, 0.8);
    position: relative;
}
.gray-div a{
    text-decoration: none;
    color: initial;
}
.box-div{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: -255px;
}
.gray-div .outer-box{
    height: 550px;
}
.gray-div .box{
    height: 500px;
    width: 320px;
    background-color: rgba(131, 39, 41, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gray-div .box+div{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* giftcard-div code start */

.giftcard-div{
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-size: 25px;
    background-color: rgba(254, 215, 186, 1);
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.giftcard-div a{
    text-decoration: none;
    color: unset;
}
.giftcard-div div{
    height: 500px;
    background-image: url('../../public/images/Rectangle27.png');
    background-size: cover;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gender-div code start */

.gender-div{
    background-color: rgba(254, 215, 186, 1);
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}
.gender-div h2{
    padding-top: 30px;
    font-size: 35px;
    color: rgba(139, 0, 0, 1);
}
.gender-div p{
    color: rgba(113, 108, 108, 1);
    margin-top: 5px;
    margin-bottom: 10px;
    margin-bottom: 30px;
}
.gender-box{
    display: flex;
    justify-content: space-evenly    ;
}
.gender-box .first,.gender-box .second,.gender-box .third{
    display: flex;
    flex-direction: column;
    width: 420px;
}
.gender-box .img-div{
    height: 430px;
    width: 420px;
    overflow: hidden;
}
.gender-box .img-div img{
    height: 100%;
    width: 100%;
}
.gender-box .txt-div{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    font-weight: bold;
}
.gender-box a{
    text-decoration: none;
    color: unset;
}


/* carousel code start */

.carousel{
    background-color: rgba(254, 215, 186, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.carousel video{
    width: 1325px;
}

/* recomend-div code start */

.recomend-div{
    font-family: "Nunito Sans", sans-serif;
    background-color: rgba(254, 215, 186, 1);
    text-align: center;
    padding-bottom: 80px;
}
.recomend-div h2{
    padding-top: 30px;
    font-size: 35px;
    color: rgba(139, 0, 0, 1);
}
.recomend-div p{
    color: rgba(113, 108, 108, 1);
    margin-top: 5px;
    margin-bottom: 10px;
}
.recomend-div .cards-div{
    height: 600px;
    background-color: rgba(131, 39, 41, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomend-div .cards-div .cards{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.recomend-div .cards-div .cards .first,.recomend-div .cards-div .cards .second{
    width: 100%;
    overflow: hidden;
}
.recomend-div .cards-div .cards .first{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recomend-div .cards-div .cards .first div{
    height: 48%;
}
/* footer code start */

footer{
    background-color: rgba(254, 215, 186, 1);
    font-family: "Nunito Sans", sans-serif;
}
.footer{
    background-color: rgba(217, 217, 217, 1);
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    padding: 40px 15px 25px 25px;
}
.footer-title{
    color: rgba(139, 0, 0, 1);
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-title~div{
    margin-bottom: 8px;
}
.footer a{
    color: #000;
    text-decoration: none;
}
.fa-phone,.fa-message,.fa-rocketchat{
    margin-right: 20px;
}
.copyright{
    height: 80px;
    color: rgba(139, 0, 0, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footer-icons{
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    padding: 15px 5px;
}
.footer-icons span{
    color: rgba(139, 0, 0, 1);
    font-weight: bold;

}
.footer-icons i{
    margin-left: 15px;
    font-size: 20px;
}
.footer-icons a{
    text-decoration: none;
    color: #000;
}

/* admin user login btn container */

.admin_user_login_outer{
    display: none;
}
.admin_user_login{
    height: 400px;
    width: 750px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 2px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 140px;
    left: 350px;
}
.admin_user_login a{
    text-decoration: none;
    color: unset;
}
.admin_login_close{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.admin_user_img{
    height: 400px;
    width: 250px;
}
.text-container{
    width: 500px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.btn_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
}
.admin_login_btn{
    height: 40px;
    width: 200px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 4px #000;
}
.user_login_btn{
    height: 40px;
    width: 200px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 4px #000;
}
.admin_login_btn:hover{
    background-color: rgb(227, 115, 115);
}
.user_login_btn:hover{
    background-color: rgb(227, 115, 115);
}
.desc-div{
    font-size: 20px;
    width: 80%;
}
.desc-div p{
    text-align: center;
    margin-bottom: 10px;
}
.icon-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
}
.fa-hands-praying{
    color: rgb(236, 158, 15)   ;
}
.mr{
    margin-left: 15px;
}

/* signup-container */
.signup-outer{
    display: none;
}
.signup-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.signup-container a{
    text-decoration: none;
    color: unset;
}
.signup-container .close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.signup-container .signup-img{
    height: 550px;
    width: 350px;
}
.signup-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.signup-container .heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
}
.signup-container .signup-signup{
    font-size: 20px;
    color: rgb(218, 96, 96);
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px solid rgb(218, 96, 96);
    cursor: pointer;
}
.signup-container .signup-login{
    font-size: 20px;
    color: rgb(218, 96, 96);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.signup-container .login:hover{
    border-bottom: 3px solid rgb(218, 96, 96);
}
.offer{
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
.form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.form-div form{
    width: 500px;
}
.name-div{
    margin-bottom: 5px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}
.name-div input{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;

}
.name-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.email-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.email-div input{
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
}
.email-div button{
    width: 100px;
    height: 30px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.email-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.mobile-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.mobile-div input{
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
}
.mobile-div button{
    width: 100px;
    height: 30px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.mobile-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.password-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.password-div input{
    height: 30px;
    width: 490px;
    border: none;
    outline: none;
}
.password-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.confirm-password-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.confirm-password-div input{
    height: 30px;
    width: 490px;
    border: none;
    outline: none;
}
.confirm-password-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.declaration-div{
    margin-top: 10px;
}
.declaration-div input{
    margin-right: 10px;
}
.signup-btn{
    width: 100%;
    height: 40px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.login-link-div{
    margin-top: 20px;
}
.login-link-div .login2{
    text-decoration: none;
    color: rgb(218, 96, 96);
    margin-left: 15px;
    cursor: pointer;
}

/* login container */

.login-outer{
    display: none;
}
.login-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.login-container a{
    text-decoration: none;
    color: unset;
}
.login-container .login-close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.login-container .login-img{
    height: 550px;
    width: 350px;
}
.login-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.login-container .heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
}
.login-container .login-signup{
    font-size: 20px;
    color: rgb(218, 96, 96);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.login-container .login-login{
    font-size: 20px;
    color: rgb(218, 96, 96);
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px solid rgb(218, 96, 96);
    cursor: pointer;
}
.login-container .signup:hover{
    border-bottom: 3px solid rgb(218, 96, 96);
}
.signin-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.signin-form-container form{
    width: 500px;
}
.email_mobile{
    margin-bottom: 5px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.signin-form-container input[type=text]{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;
}
.signin-form-container input[type=text]::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.password{
    margin-bottom: 5px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}
.signin-form-container input[type=password]{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;
}
.signin-form-container input[type=password]::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.login-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(218, 96, 96);
    border: none;
    border-radius: 4px;
    margin-top: 35px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}
.logingoogle-btn{
    width: 77%;
    height: 40px;
    background-color: rgba(255, 0, 0, 1);
    border: none;
    border-radius: 4px;
    margin-top: 35px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.logingoogle-btn i{
    margin-right: 150px;
    margin-left: 10px;
}
.forget-password-link{
    cursor: pointer;
}
.newsign{
    margin-top: 25px;
}
.signinsignup{
    margin-left: 15px;
    color: rgb(218, 96, 96);
    cursor: pointer;
}

/* forget password container */
.forget-password-outer{
    display: none;
}
.forget-password{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.forget-password .forget-close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.forget-password .inst{
    color: rgb(218, 96, 96);
    text-align: center;
    margin-top: 30px;
}
.forget-password .forget-img{
    height: 550px;
    width: 350px;
}
.forget-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.forget-password .heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
}
.forget-password .heading-box div{
    color: rgb(218, 96, 96);
}
.forget-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.forget-form-container form{
    width: 500px;
}
.forget-form-container input[type=text]{
    height: 40px;
    width: 500px;
    border: 1px solid rgb(218, 96, 96);
    outline: none;
    padding-left: 10px;
}
.forget-form-container input[type=text]::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.reset-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(218, 96, 96);
    border: none;
    border-radius: 4px;
    margin-top: 35px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}
.login-from-forget{
    cursor: pointer;
}

/* otp container */
.otp-outer{
    display: none;
}
.otp-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.otp-container .otp-close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.otp-container .otp-img{
    height: 550px;
    width: 350px;
}
.otp-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.otp-container .heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
    color: rgb(218, 96, 96);
}
.otp-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.otp-form-container form{
    width: 400px;
}
.otp-box{
    display: flex;
    justify-content: space-between;
}
.otp-form-container input[type=text]{
    height: 40px;
    width: 50px;
    border: 1px solid rgb(218, 96, 96);
    outline: none;
    padding-left: 10px;
}
.otp-form-container input[type=text]::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.otp-container .continue-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(218, 96, 96);
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}
.otp-container .resend-div{
    margin-bottom: 40px;
}
.otp-container .resend-otp{
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}
.otp-container .back-login{
    cursor: pointer;
}
.otp-container .back-login i{
    margin-right: 10px;
}

/* reset password container */
.reset-outer{
    display: none;
}
.reset-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.reset-container .reset-close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.reset-container .reset-img{
    height: 550px;
    width: 350px;
}
.reset-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.reset-container .heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
    color: rgb(218, 96, 96);
}
.reset-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.reset-form-container form{
    width: 500px;
}
.reset-form-container .warning{
    color: rgb(218, 96, 96);
    margin-bottom: 15px;
    font-size: 14px;
}
.reset-form-container input[type=password]{
    height: 40px;
    width: 500px;
    border: 1px solid rgb(218, 96, 96);
    outline: none;
    padding-left: 10px;
    margin-bottom: 30px;
}
.reset-form-container input[type=password]::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.reset-container .reset-continue-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(218, 96, 96);
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}
.reset-container .resend-div{
    margin-bottom: 40px;
}
.reset-container .resend{
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}
.reset-container .reset-back-login{
    cursor: pointer;
}
.reset-container .reset-back-login i{
    margin-right: 10px;
}

/* admin signup container */
.admin-signup-outer{
    display: none;
}
.admin-signup-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.admin-signup-container a{
    text-decoration: none;
    color: unset;
}
.admin-signup-container .admin-signup-close{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.admin-signup-container .admin-signup-img{
    height: 550px;
    width: 350px;
}
.admin-signup-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.admin-signup-container .admin-heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
}
.admin-signup-container .admin-signup{
    font-size: 20px;
    color: rgb(218, 96, 96);
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px solid rgb(218, 96, 96);
    cursor: pointer;
}
.admin-signup-container .admin-login{
    font-size: 20px;
    color: rgb(218, 96, 96);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.admin-signup-container .admin-login:hover{
    border-bottom: 3px solid rgb(218, 96, 96);
}
.admin-signup-form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.admin-signup-form-box form{
    width: 500px;
}
.admin-name-div{
    margin-bottom: 5px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}
.admin-name-div input{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;

}
.admin-name-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-email-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.admin-email-div input{
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
}
.admin-email-div button{
    width: 100px;
    height: 30px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.admin-email-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-mobile-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.admin-mobile-div input{
    height: 30px;
    width: 400px;
    border: none;
    outline: none;
}
.admin-mobile-div button{
    width: 100px;
    height: 30px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
}
.admin-mobile-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-password-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.admin-password-div input{
    height: 30px;
    width: 490px;
    border: none;
    outline: none;
}
.admin-password-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-confirm-password-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.admin-confirm-password-div input{
    height: 30px;
    width: 490px;
    border: none;
    outline: none;
}
.admin-confirm-password-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-signup-btn{
    width: 100%;
    height: 40px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    margin-top: 60px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

/* admin login container */
.admin-login-outer{
    display: none;
}
.admin-login-container{
    height: 550px;
    width: 1000px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 1px 1px 9px rgba(210, 127, 127, 1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    position: fixed;
    top: 90px;
    left: 200px;
}
.admin-login-container .admin-login-close{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.admin-login-container .admin-login-img{
    height: 550px;
    width: 350px;
}
.admin-login-text{
    width: 650px;
    height: 550px;
    background-color: #fff;
}
.admin-login-container .admin-login-heading-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 96, 96);
}
.admin-login-container .adminlogin-signup{
    font-size: 20px;
    color: rgb(218, 96, 96);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.admin-login-container .adminlogin-login{
    font-size: 20px;
    color: rgb(218, 96, 96);
    font-weight: bold;
    padding: 5px;
    border-bottom: 3px solid rgb(218, 96, 96);
    cursor: pointer;
}
.admin-login-container .adminlogin-signup:hover{
    border-bottom: 3px solid rgb(218, 96, 96);
}
.admin-login-form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.admin-login-form-box form{
    width: 500px;
}
.admin-login-mail-div{
    margin-bottom: 15px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}
.admin-login-mail-div input{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;

}
.admin-login-mail-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-login-password-div{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
.admin-login-password-div input{
    height: 30px;
    width: 490px;
    border: none;
    outline: none;
}
.admin-login-password-div input::placeholder{
    color: rgb(218, 96, 96);
    font-size: 16px;
}
.admin-login-btn{
    width: 100%;
    height: 40px;
    background-color: rgba(210, 127, 127, 1);
    border: none;
    border-radius: 4px;
    margin-top: 60px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.admin-forget-password{
    margin-top: 35px;
    text-align: center;
    cursor: pointer;
}