*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* header code start */
header{
    background-color: rgba(254, 215, 186, 1);
    position: sticky;
    top: 0px;
    z-index: 400;
    box-shadow: 0px 0px 5px rgb(245, 238, 238);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
header a{
    text-decoration: none;
    color: unset;
}
.nav-title{
    font-weight: bold;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
}
.brand-logo img{
    height: auto;
    width: 200px;
}
.user-icon{
    height: 35px;
    width: 100px;
    background-color: rgba(139, 0, 0, 1);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
}



/* header code end  */


/* row container */

.row{
    display: grid;
    grid-template-columns: 2.5fr 9.5fr;
    font-family: "Poppins", sans-serif;
}

.col-1{
    height: 600px;
    padding: 20px;
    background-color: white;
}
.col-2{
    height: 650px;
    background-color: rgba(254, 215, 186, 1);
}
.col-1 ol{
    list-style: none;
    margin-top: 15px;
}
.col-1 li{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.active{
    color: rgba(139, 0, 0, 1);
}
.col-1 a{
    color: unset;
    text-decoration: none;
}
.header-div{
    height: 50px;
    background-color: rgba(210, 127, 127, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.table-div{
    padding: 20px;
}
table{
    border: none;
    width: 100%;
    border-collapse: collapse;
}
table thead{
    height: 70px;
    color:rgba(139, 0, 0, 1);
    background-color: rgba(254, 215, 186, 1);
    border: none;
}
table tbody{
    background-color: rgba(217, 217, 217, 1);
}
table tbody tr{
    height: 90px;
    text-align: center;
}
.btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-div button{
    height: 30px;
    width: 100px;
    border: 1px solid rgba(139, 0, 0, 1);
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}
.tr-1,.tr-2{
    border-bottom: 1px solid black;
}
tr img{
    height: 65px;
    width: 65px;
}